/*Extra small devices (small phones, 350px and down)*/

body {
    text-align: center;
}
.parallax
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header
{
    height: calc(350px + 20vw);
    background-image: url(../img/abouttr/wudang.jpg);
    background-position: 50% 36px;
    color: white;
}
#header>div
{
    background-color: #00000096;
    height: 100%;
}
#header h1
{
    font-size: calc(30px + 4vw);
    margin: 0.5em;
    color: #baab00;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}
#header h2
{
    font-size: calc(17px + 1vw);
}
#oferta h2
{
    font-size: calc(20px + 1.2vw);
    margin-bottom:0.6em
}
#oferta ul>li
{
    font-size: calc(13px + 0.7vw);
    margin:0.2em
}
.header
{
    padding:30px;
}
.header h2
{
    font-size: calc(20px + 1.8vw);
    color: #c1b888;
}
#trener-desc
{
    background-image: url(../img/abouttr/chiny.jpg);
    color: white;
    text-align: none;
    display: inline-block;
}
.desc>div
{
    padding:10px;
    border-radius:calc(10px + 1vw);
    background-color: #3f3f3fd9;
    width:80%;
    margin:20px auto;
}
.desc h3
{
    font-size: calc(12px + 0.9vw);
    margin: 0.6em 0;
}
.desc p
{
    font-size: calc(11px + 0.6vw);
    margin: 0.6em 0;
}
#historia-desc
{
    background-image: url(../img/abouttr/skaly.jpg);
    color: white;
    text-align: none;
    display: inline-block;
}
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .parallax
    {
        background-attachment: fixed;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax-slow
    {background-position: 50% calc(100px - 35vw)}
    #trener-desc
    {
        position:relative;
        height: calc(450px + 20vw);
        display: block;
    }
    .desc
    {position:absolute}
    #trener-desc .history
    {
        top:20px;
        width:80%;
        left:50%;
        transform:translate(-50%, 0);
        margin:auto;
    }
    #trener-desc .now
    {
        bottom:80px;
        right:20px;
        margin: 0;
        width: 30%;
    }
    .parallax-text
    {
        position:relative;
    }
    #historia-desc
    {
        position:relative;
        height: calc(500px + 40vw);
        display: block;
    }
    .a-1
    {
        left:10%;
        width:40%;
    }
    .a-2
    {
        left: 65%;
        width:30%;
        top: calc(70px + 7vw);
    }
    .a-3
    {
        left: 30%;
        width:50%;
        top: calc(200px + 35vw);
    }
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {

}
