#przyciemniacz
{
	position:fixed;
	background-color: #000000ed;
	visibility: hidden;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.9s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#przyciemniacz.aktywny
{
	opacity:1;
}
.outerdesc
{
    position:fixed;
    top:calc(50% + 35px);
    left:50%;
    transform:translate(-50%, -50%);
    overflow:hidden;
    max-height:0;
    max-width:0;
    transition: max-width 0.4s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0s, max-height 0.5s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0.4s;
    border: 2px solid #baab00;
    visibility:hidden;
    z-index:5;
}
.active.outerdesc
{
	transition: max-height 0.5s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0s, max-width 0.4s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0.5s;
}
.desc
{
    position:relative;
    background-color: #151515bd;
    padding: calc(7px + 3vw);
    text-align:center;
    color:white;
    width: calc(70px + 60vw);
}
.desc-header
{
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    margin-top:10px;
}
.desc-txt
{
    margin-top:calc(20px + 0.6vw);
    font-size: calc(12px + 1vw);
}
.circle
{
    background-color:#434343;
    display:inline-block;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    transition:0.2s;
}
.circle:hover
{
	transform:scale(1.2);
    cursor:pointer;
}
.circle .close-desc.close.icon {
    position:relative;
    color:black;
    width: 25px;
    height: 25px;
}
.circle .close-desc.close.icon:before {
	position: absolute;
	width: 35px;
	height: 4px;
	top: 11px;
	left: -5px;
}
.circle .close-desc.close.icon:after {
	position: absolute;
	width: 35px;
	height: 4px;
	top: 10.7px;
	left: -5px;
}