footer
{
    font-family: 'Cinzel', serif;
    font-weight: 700;
    text-align: center;
    height: 350px;
    background: rgb(0, 0, 0);
    color: white;
}

footer h3 
{
    color: #baab00;
}

footer a
{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

footer a:hover
{
    color: #baab00;
}

footer i 
{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

footer .right 
{
    display: none;
}

@media only screen and (min-width: 992px) {

    footer 
    {
        height: 430px;
    }

    footer i 
    {
        font-size: 60px;
    }

    footer a
    {
        font-size: 25px;
        margin-bottom: 20px;
    }

    footer .left 
    {
        float: left;
        width: 45%;
        margin-left: 5%;
        text-align: left;
    }
    #footer-contact::after
        {clear:both;}
}
