#przyciemniacz
{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000ed;
	visibility: hidden;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.9s;
}
#przyciemniacz.aktywny
{
	opacity:1;
}
#full_view
{
    position:fixed;
    top:calc(50% + 45px);
    left:50%;
    transform:translate(-50%, -50%);
    overflow:hidden;
    max-height:0;
    max-width:0;
    transition: max-width 0.4s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0s, max-height 0.5s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0.4s;
    border: 2px solid #baab00;
    visibility:hidden;
    z-index: 5;
}
#full_view.active
{
	transition: max-height 0.5s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0s, max-width 0.4s cubic-bezier(0.53, 0.02, 0.46, 0.96) 0.5s;
}
.outer-full-image
{
    position:relative;
    background-color: #151515;
    text-align:center;
}
.full-img
{
    padding: calc(2px + 2vw) calc(5px + 2vw) 0  calc(2px + 2vw);
    max-width: calc(90vw);
    max-height:calc(96.6vh - 162px);/* 90 od nawidacji - 60 z paddingu outera - z kółka - 35 luzu*/
}

.arrow
{
	position:relative;
	top:-22.5px;
    border: solid #383838;
    border-width: 0 9px 9px 0;
    display: inline-block;
    padding: 8px;
    margin: 0;
}
.arrow.left
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left:-10px;
}
.arrow.right
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right:-10px;
}
#close-circle
{
    margin: calc(5px + 0.7vw) 0 calc(5px + 0.7vw) 0;
    background-color: #383838;
    display:inline-block;
    border-radius: 50%;
    padding: 10px;
}
#img_navigation>div
{
	cursor:pointer;
    transition:0.2s;
}
#close-circle:hover
	{transform:scale(1.15)}
.arrow.left:hover
	{transform:rotate(135deg) scale(1.15)}
.arrow.right:hover
	{transform:rotate(-45deg) scale(1.15)}
#close-circle .close-img.close.icon {
    position:relative;
    color:black;
    width: 25px;
    height: 25px;
}
#close-circle .close-img.close.icon:before {
	position: absolute;
	width: 35px;
	height: 4px;
	top: 11px;
	left: -5px;
}
#close-circle .close-img.close.icon:after {
	position: absolute;
	width: 35px;
	height: 4px;
	top: 10.7px;
	left: -5px;
}

#container
{
    margin: 20px auto 0 auto;
    width: calc(70px + 70vw);
}
#container::after
	{clear:both;}
#container .divider
{
	width: calc(50% - 8px);
	float: left;
	margin: 0 4px;
}
#container .divider::after
	{clear:both;}
#container ul
{
    width: 100%;
    float: left;
    margin: 0 4px;
}
#container ul>li
{
    width: 100%;
    overflow:hidden;
	margin: 4px 0;
}
#container ul>li>img
{
	width: 100%;
	transition: 0.2s;
	cursor:pointer;
}
#container ul>li>img:hover
{
	width:120%;
}

/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
	#container .divider
	{
		margin: 0px;
	}
	#container ul
	{
        width: calc(50% - 8px);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}