/*Extra small devices (small phones, 350px and down)*/

body
{
    text-align: center;
}


#gyminfo h2
{
    font-size: calc(20px + 2vw);
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-bottom: 0;
}

#gyminfo h3
{
    font-size: calc(10px + 0.8vw);
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-bottom: 0;
}

#gyminfo h1
{
    font-size: calc(20px + 3vw);
    color: #baab00;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-top: 0;
}

#gyminfo p
{
    width: 80%;
    font-size: calc(10px + 0.8vw);
    color: rgb(175, 175, 175);
    margin-left: auto;
    margin-right: auto;
}

#slidercontainer
{
    width: 100%;
    height: calc(100px + 25vw);
}

#slidercontainer img
{
    height: auto;
    max-width: 100%;
    width: auto;
    display: block;
}

#scprice
{
    font-family: 'Lato',sans-serif;
}

#priceelem
{
    outline: 1px white solid;
    width: 40%;
    margin: 0 auto 0 auto;
    transition: 0.2s;
}


/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
    #priceelem
    {
        width: 20%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #slidercontainer
    {
        margin-left: auto;
        margin-right: auto;
    }

    #slidercontainer img
    {
        border: 1px #baab00 solid;
    }

    #gyminfo p
    {
        width: 55%;
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
}
