#container
{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

#photo_container
{
    position:relative;
}
#photo
{
    width:100%;
    height: 60vh;
    background-image: url(../img/slider/min/1.jpg);
    background-repeat:no-repeat;
    background-size: cover !important;
    background-position: center center;
}
#phototext-container
{
    position:absolute;
    bottom:0;
    height: 35vh;
    text-align:center;
    width:100%;
    background-color:#1b1b1bab;
}
#phototext
{
    width:100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#upperphototext
{
    display: none;
}

#phototext>h1
{
    color:#d6d6d6;
    font-size: calc(8px + 1.5vh + 1.8vw);
    margin: 0;
}
#phototext>h2
{
    color:#baab00;
    font-size: calc(7px + 0.6vh + 1vw);
    margin: 3vh 0;
}

#photo_container::after
{
    height:3px;
    width:100%;
    background-color:#baab00;
}

#freebanner
{
    text-align: center;
    background-color:#9300001e;
    line-height:2em;
    padding: 10px 5px;
}

#freebanner h3
{
   color:#d6d6d6;
   margin:0;
   font-size:15px;
}

#description-section h3
{
    font-size: calc(20px + 1.5vw);
    margin: calc(5px + 1.5vw) 0;
    font-weight: 700;
    font-family: 'Cinzel', serif;
    color:#baab00;
}

#trainingopts
{
    width: 100%;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#training-section h3
{
    color: white;
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}
#training-section::after
    {clear:both;}
#prices h3 
{
    color: white;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

#map h3
{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

#locationdesc
{
    color: white;
}

#locationdesc p:first-child
{
    font-size: 22px;
}
#building-container,#mapimg
{
    height:calc(100px + 20vw);
}

#abouttr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#abouttr h3
{
    color: white;
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    font-family: 'Cinzel', serif;
    padding: 0 10px 0 10px;
}

#abouttr button
{
    padding:10px;
    background-color:#baab00;
    border:none;
    font-weight: 700;
    transition: background 1s;
    font-family: 'Cinzel', serif;
}

#abouttr button:hover 
{
    background-color:#d0ff00;
}

#trphoto
{
    width: 100%;
    height: 200px;
    background-image: url(../img/abouttr/min.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#trdesc
{
    color: white;
    padding: 15px 20px 15px 20px;
}

#freebannerinfo
{
    color: white;
    background-color:#9b4d4d86;
    text-align: center;

}

#freebannerinfo p 
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#scrollarrow
{
    display: none;
}

#scrollup
{
    display: none;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color:#9b4d4d86 !important;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    
}

.pitem
{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: calc(7px + 1vw);
    border: 1px solid white;
    color: white;
}

.pitemhead
{
    font-size: calc(30px + 1.5vw);
}

.pitemdesc
{
    margin: 15px 10px;
    color: #baab00;
}
.pitem-gym
{
    margin: 15px 10px;
    color: #da0000;
    font-weight:700;
}
.pitem-gym>a
{
    color: #baab00;
}
.pitemprice
{
    font-size: calc(30px + 1.7vw);
}

.titem
{
    background-color: #131313;
    width: 50%;
    height: 10em;
    color: white;
    float: left;
    cursor: pointer;
    padding-top: 10px;
    transition: background 0.3s;
}

.titem:hover 
{
    background: rgba(255, 0, 0, 0.253);
}

.titempic
{
    width: 100%;
    height: 70%;
}

.titempic img 
{
    width: 80%;
    height: 90%;
}

.titemdesc
{
    height: 30px;
    line-height: 30px;
}

.description
{
    text-align:center;
    margin-bottom: 10px;
}
.description>p
{
    color:#d6d6d6;
    width:70%;
    margin: 0 auto 1.5em auto;
    font-size: calc(10px + 0.8vw);
}
.description button
{
    padding: calc(2px + 0.5vw);
    background-color:#baab00;
    border:none;
    font-weight: 700;
    font-size: calc(5px + 0.8vw);
    transition: background 1s;
    font-family: 'Cinzel', serif;
}

.description button:hover
{
    background-color:#d0ff00;
}

button 
{
    transition: background 0.005s;
    cursor: pointer;
}
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

    #container 
    {
        width: 80%;
    }
    #abouttr button 
    {
        padding: 20px;
        font-size: 20px;
    }

    .titem
    {
        height: 250px;
    }


    #trdesc
    {
        font-size: 20px;
    }

}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

    #freebanner h3
    {
        font-size: 25px;
    }

    .titem 
    {
        height: 300px;
    }

    .description
    {
        font-size: 20px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #container 
    {
        width: 80%;
    }

    #photo
    {
        height:100vh;
    }

    #upperphototext 
    {
        display: block;
        z-index: 2;
        font-size: 30px;
        color: #baab00;
        position: absolute;
        top: 120px;
        left: 50px;
        font-weight: 700;
        font-family: 'Cinzel', serif;
        background: rgba(0, 0, 0, 0.61);
        padding: 10px;
    }

    #scrollarrow 
    {
        display: block;
        color: #baab00;
    }

    #scrollarrow i 
    {
        cursor: pointer;
        transition: 0.3s;
        font-size: calc(25px + 0.8vh + 1.5vw);
        vertical-align: middle;
        line-height: calc(30px + 0.8vh + 1.5vw);
    }

    #scrollarrow i:hover
    {
        font-size: calc(30px + 0.8vh + 1.5vw);
        color: #b3ad6f;
    }

    #scrollup
    {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        color: white;
        z-index: 99999;
        font-size: 40px;
        bottom: 20px;
        right: 20px;
        padding: 10px 10px 0px 10px;
        background: rgba(63, 63, 63, 0.349);
        cursor: pointer;
        transition: background 0.4s;
        transition: visibility 0.2s, opacity 0.2s linear;
        border-radius: 20px;
    }

    #scrollup:hover 
    {
        background: rgba(255, 0, 0, 0.253);
    }

    #freebanner 
    {
        padding: 20px 0 20px 0;
    }

    #freebanner h3 
    {
        font-size: 26px;
    }
    #abouttr button 
    {
        padding: 20px;
    }

    #trdesc
    {
        font-size: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    #trphoto
    {
        width: 600px;
        height: 400px;
        background-image: url(../img/abouttr/mid.jpg);
        margin-left: auto;
        margin-right: auto;
    }
    #priceitems
    {
        display: table;
        width: 100%;
        border-spacing: 1.66vw;
        table-layout: fixed;
    }

    .pitem
    {
        display: table-cell;
        border-spacing: 0;
        position: relative;
    }
    .pitemhead
    {
        font-size: calc(16px + 1vw);
    }
    .pitemprice
    {
        font-size: calc(15px + 1.6vw);
    }
    #priceitems::after
        {clear:both}
    #locationdesc 
    {
        font-size: 20px;
    }

    #locationdesc p:first-child
    {
        font-size: 36px;
    }

    nav
    {
        height:0!important;
    }
    .description
    {
        float:left;
        width:50%;
    }
    #description-section::after
        {clear:both}

    .titem 
    {
        width: 20%;
    }

    .pitemdesc, .pitem-gym
    {
        font-size: calc(12px + 0.7vw);
    }

}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {

    #upperphototext 
    {
        font-size: 35px;
    }

    #trdesc
    {
        font-size: 30px;
    }

    #abouttr button 
    {
        padding: 30px;
        font-size: 25px;
    }

    .titem
    {
        height: 300px;
    }
    
    .description
    {
        font-size: 25px;
    }

    #freebannerinfo p 
    {
        font-size: 20px;
        width: 40%;
    }

}
