#container
{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

#photo_container
{
    position:relative;
}
#photo
{
    width:100%;
    height: 60vh;
    background-image: url(../img/slider/min/1.jpg);
    background-repeat:no-repeat;
    background-size: cover !important;
    background-position: center center;
}
#phototext-container
{
    position:absolute;
    bottom:0;
    height: 35vh;
    text-align:center;
    width:100%;
    background-color:#1b1b1bab;
}
#phototext
{
    width:100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#upperphototext
{
    display: none;
}

#phototext>h1
{
    color:#d6d6d6;
    font-size: calc(8px + 1.5vh + 1.8vw);
    margin: 0;
}
#phototext>h2
{
    color:#baab00;
    font-size: calc(7px + 0.6vh + 1vw);
    margin: 3vh 0;
}

#photo_container::after
{
    height:3px;
    width:100%;
    background-color:#baab00;
}

#freebanner
{
    text-align: center;
    background-color:#9300006e;
    line-height:2em;
    padding: 10px 5px;
}

#freebanner h3
{
   color:#d6d6d6;
   margin:0;
   font-size:15px;
}

#description-section h3
{
    font-size: calc(20px + 1.5vw);
    margin: calc(10px + 3vw) 0 calc(5px + 1.5vw) 0;
    font-weight: 700;
    font-family: 'Cinzel', serif;
    color:#baab00;
}
#training-section h3
{
    color: white;
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}
#training-section::after
    {clear:both;}
#map h3
{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

#locationdesc
{
    color: white;
}

#locationdesc p:first-child
{
    font-size: 22px;
}
#building-container,#mapimg
{
    height: calc(250px + 3vw);
}

#abouttr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#abouttr h3
{
    color: white;
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    font-family: 'Cinzel', serif;
    padding: 0 10px 0 10px;
}

#abouttr button
{
    padding:10px;
    background-color:#baab00;
    border:none;
    display: block;
    margin: 20px auto;
    font-weight: 700;
    transition: background 0.5s;
    font-family: 'Cinzel', serif;
}

#abouttr button:hover 
{
    background-color: #ffec00;
}

#trphoto
{
    width: 100%;
    height: 200px;
    background-image: url(../img/abouttr/min.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#trdesc
{
    color: white;
    margin: 40px auto 20px auto;
    font-size: calc(13px + 1vw);
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    
}

.titem-container
{
    width: 50%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    float: left;
    position: relative;
}
.titem
{
    background-color: #131313;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    transition: background 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.titem:hover 
{
    background: #9300006e;
}

.titempic
{
    width: 100%;
    height: 70%;
}

.titempic img 
{
    width: 80%;
    height: 90%;
}

.titemdesc
{
    height: 30px;
    line-height: 30px;
    font-size: calc(13px + 0.5vw);
}

.description
{
    text-align:center;
    margin-bottom: 10px;
}
.description>p
{
    color:#d6d6d6;
    width: 80%;
    margin: 0 auto 1em auto;
    font-size: calc(13px + 0.7vw);
}
.description button
{
    padding: calc(6px + 0.5vw);
    background-color:#baab00;
    border:none;
    font-weight: 700;
    font-size: calc(9px + 0.8vw);
    transition: background 0.5s;
    font-family: 'Cinzel', serif;
}

.description button:hover
{
    background-color: #ffec00;
}

button 
{
    transition: background 0.005s;
    cursor: pointer;
}

#cennik h3 
{
    color: white;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

.pitem
{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: calc(7px + 1vw);
    border: 1px solid white;
    color: white;
}

.pitemhead
{
    font-size: calc(30px + 1.5vw);
}

.pitemdesc
{
    margin: 15px 10px;
    color: #baab00;
}
.pitem-gym
{
    margin: 15px 10px;
    color: #da0000;
    font-weight:700;
}
.pitem-gym>a
{
    color: #baab00;
}
.pitemprice
{
    font-size: calc(30px + 1.7vw);
}
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

    #container 
    {
        width: 80%;
    }
    #abouttr button 
    {
        padding: 20px;
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

    #freebanner h3
    {
        font-size: 25px;
    }
    .description
    {
        font-size: 20px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #photo
    {
        height:100vh;
    }

    #upperphototext 
    {
        display: block;
        z-index: 2;
        font-size: 30px;
        color: #baab00;
        position: absolute;
        top: 120px;
        left: 50px;
        font-weight: 700;
        font-family: 'Cinzel', serif;
        background: rgba(0, 0, 0, 0.61);
        padding: 10px;
    }

    #freebanner 
    {
        padding: 20px 0 20px 0;
    }

    #freebanner h3 
    {
        font-size: 26px;
    }
    #trdesc
    {
        width: calc(100% - 350px);
        float: right;
    }


    #trphoto
    {
        width: 300px;
        height: 580px;
        background-image: url(../img/abouttr/mid.jpg);
        background-repeat:no-repeat;
        background-size: cover !important;
        background-position: center center;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }

    #abouttr::after
    {
        clear:both;
    }
    
    #locationdesc 
    {
        font-size: 20px;
    }

    #locationdesc p:first-child
    {
        font-size: 36px;
    }
    .description
    {
        float:left;
        width:50%;
    }
    #description-section::after
        {clear:both}

    .titem-container
    {
        width: 16.666%;
        padding-top: 16.666%; /* 1:1 Aspect Ratio */
    }

    #priceitems
    {
        display: table;
        width: 100%;
        border-spacing: 1.66vw;
        table-layout: fixed;
        margin-bottom: 2vw;
    }

    .pitem
    {
        display: table-cell;
        border-spacing: 0;
        position: relative;
    }
    .pitemhead
    {
        font-size: calc(16px + 1vw);
    }
    .pitemprice
    {
        font-size: calc(15px + 1.6vw);
    }
    #priceitems::after
        {clear:both}
        
    .pitemdesc, .pitem-gym
    {
        font-size: calc(12px + 0.7vw);
    }
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {

    #upperphototext 
    {
        font-size: 35px;
    }
    #abouttr button 
    {
        padding: 30px;
        font-size: 25px;
    }
    .description
    {
        font-size: 25px;
    }

    #freebannerinfo p 
    {
        font-size: 20px;
        width: 40%;
    }

}
