main
{
    padding:3%;
    font-size: calc(10px + 0.8vw);
}
h1
{
    color: white;
    text-align:center;
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    font-family: 'Cinzel', serif;
    padding: 0 10px 0 10px;
}
#table-container
{
    overflow:auto;
}
table
{
    margin:0 auto;
}
th:first-child
{
    font-size: calc(8px + 0.5vw);
    height: calc(80px + 1vw);
    width: calc(100px + 7vw);
    min-width: calc(100px + 7vw);
}
th:first-child>div
{
    position:absolute;
    margin-left: -18px;
    height: calc(80px + 1vw);
    margin-top:calc(-40px - 0.5vw);
    width: calc(100px + 7vw + 8px);
    background:linear-gradient(to bottom left, #baab00 50%,#e3d200 0);
}
#dow
{
    position:absolute;
    top:10px;
    right:10px;
    display: inline-block;
}
#hours
{
    position:absolute;
    bottom:10px;
    left: 10px;
}
th
{
    background-color:#baab00
}
th,td
{
    padding:10px;
    border-spacing: 0;
    text-align:center;
}
.muay-thai
    {background-color:#920000}
.muay-thai:hover
    {background-color:#bd0000}
.krav-maga
    {background-color:#202020;color:#d9d9d9}
.krav-maga:hover
    {background-color:#2a2a2a}
.teakwondo
    {background-color:#004194}
.teakwondo:hover
    {background-color:#0058a5}
.tai-chi
    {background-color:#115600}
.tai-chi:hover
    {background-color:#146500}
.muay-boran
    {background-color:#b43200}
.muay-boran:hover
    {background-color:#ce3900}
.boks
    {background-color:#734500}
.boks:hover
    {background-color:#823d00}
.wolna-sala
    {background-color:#88005e}
.wolna-sala:hover
    {background-color:#b80032}
td:first-child
{
    background-color:#e3d200;
    width: calc(100px + 7vw);
    padding:0;
}
td:hover
{cursor:pointer}
.inner-hours
{
    position:absolute;
    background-color:#e3d200;
    width: calc(100px + 7vw + 8px);
    margin-left: -8px;
    margin-top: -10px;
}
