main
{
    padding:3%;
    font-size: calc(10px + 0.8vw);
}
h1
{
    color: white;
    text-align:center;
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    font-family: 'Cinzel', serif;
    padding: 0 10px 0 10px;
}
a.img-download
{
    padding: 15px;
    background: #baab00;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s;
    font-family: Cinzel, 'serif';
    font-weight: 700;
    margin-top: 20px;
}
a.img-download:hover 
{
    background: #f5e000;
}
#table-container
{
    overflow:auto;
}
table
{
    margin:0 auto;
}
th:first-child
{
    font-size: calc(8px + 0.5vw);
    height: calc(80px + 1vw);
    width: calc(100px + 7vw);
    min-width: calc(100px + 7vw);
}
th:first-child>div
{
    position:absolute;
    margin-left: -18px;
    height: calc(80px + 1vw);
    margin-top:calc(-40px - 0.5vw);
    width: calc(100px + 7vw + 8px);
    background:linear-gradient(to bottom left, #baab00 50%,#e3d200 0);
}
#dow
{
    position:absolute;
    top:10px;
    right:10px;
    display: inline-block;
}
#hours
{
    position:absolute;
    bottom:10px;
    left: 10px;
}
th
{
    background-color:#baab00
}
th,td
{
    padding:10px;
    border-spacing: 0;
    text-align:center;
    font-weight: bold;
}
td{
    color:white;
}
.muay-thai
    {background-color:#920000}
.muay-thai:hover
    {background-color:#bd0000}
.muay-thai-family
    {background-color:#00bd29c7}
.muay-thai-family:hover
    {background-color:#00bd29}
.krav-maga
    {background-color:#202020;/* color:#d9d9d9; */}
.krav-maga:hover
    {background-color:#2a2a2a}
.teakwondo
    {background-color:#004194}
.teakwondo:hover
    {background-color:#0058a5}
.tai-chi
    {background-color:#115600}
.tai-chi:hover
    {background-color:#146500}
.muay-boran
    {background-color:#b43200}
.muay-boran:hover
    {background-color:#ce3900}
.montifera
    {background-color:#b43200}
.montifera:hover
    {background-color:#ce3900}
.shaolin
    {background-color:#734500}
.shaolin:hover
    {background-color:#823d00}
.wolna-sala
    {background-color: #690047}
.wolna-sala:hover
    {background-color: #74004f}
.zawodnicy
    {background-color: #690047}
.zawodnicy:hover
    {background-color: #74004f}
td:first-child
{
    background-color:#e3d200;
    width: calc(100px + 7vw + 8px);
    padding:0;
}
td[class]:hover
{cursor:pointer}
.inner-hours
{
    position:absolute;
    background-color:#e3d200;
    width: calc(100px + 7vw + 8px);
    margin-left: -8px;
    color: black!important;
    margin-top: -10px;
}