/*Extra small devices (small phones, 350px and down)*/

body 
{
    text-align: center;
}

div 
{
    transition: 0.2s;
}

.mart
{
    height: 40vh;
    border-bottom: 1px #baab00 solid;
}

.martheader
{
    padding: 2px;
    background: rgba(0, 0, 0, 0.678);
    width: 60%;
    height: 40px;
    line-height: 40px;
    margin: 15vh auto 0 auto;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}


#marts h1 
{
    color: #baab00;
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

#taekw
{
    background: url(../img/marts/min/taekw.jpg) no-repeat center;
}

#muayt
{
    background: url(../img/marts/min/muayt.jpg) no-repeat center;
}

#taich
{
    background: url(../img/marts/min/taich.jpg) no-repeat center;
}

/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
}
