/*Extra small devices (small phones, 350px and down)*/

body 
{
    text-align: center;
}
.mart
{
    height: 90vw;
    border-bottom: 1px #baab00 solid;
    transition: 0.3s;
    background-repeat:no-repeat;
    background-position: center center;
}

.js .mart:hover 
{
    cursor: pointer;
}

.centerdesc
{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.martheader
{
    display: inline-block;
    width: 60%;
    height: 2em;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-family: 'Cinzel', serif;
    font-size: calc(15px + 2vw);
    line-height: 2em;
    font-weight: 700;
}
.martdesc
{
    display: inline-block;
    font-size:calc(8px + 1vw);
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    margin-top:20px;
    padding:20px 10px;
}
.js .accordion
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
#marts h1 
{
    color: #baab00;
    font-size: calc(20px + 2vw);
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

.js #taekw
    {background-image: url(../img/marts/min/taekw.jpg)}

.js #muayt
    {background-image: url(../img/marts/min/muayt.jpg)}

.js #taich
    {background-image: url(../img/marts/min/taich.jpg)}

#taekw, #taekw.active, #taekw:hover 
    {background-image: url(../img/marts/blur/min/taekw.jpg)}

#muayt, #muayt.active, #muayt:hover
    {background-image: url(../img/marts/blur/min/muayt.jpg)}

#taich, #taich.active, #taich:hover
    {background-image: url(../img/marts/blur/min/taich.jpg)}


/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

    .mart 
    {
        height: 50vw;
    }

    .martheader
    {
        width: 40%;
    }
    .martdesc
    {
        width:60%;
    }
    .js #taekw
        {background-image: url(../img/marts/mid/taekw.jpg)}

    .js #muayt
        {background-image: url(../img/marts/mid/muayt.jpg)}

    .js #taich
        {background-image: url(../img/marts/mid/taich.jpg)}

    #taekw, #taekw.active, #taekw:hover 
        {background-image: url(../img/marts/blur/mid/taekw.jpg)}

    #muayt, #muayt.active, #muayt:hover
        {background-image: url(../img/marts/blur/mid/muayt.jpg)}

    #taich, #taich.active, #taich:hover
        {background-image: url(../img/marts/blur/mid/taich.jpg)}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #container
    {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .mart
    {
        border: 1px solid #baab00;
        margin-bottom: 50px;
    }
  
}

@media only screen and (min-width: 1400px)
{
    .js #taekw
        {background-image: url(../img/marts/max/taekw.jpg)}

    .js #muayt
        {background-image: url(../img/marts/max/muayt.jpg)}

    .js #taich
        {background-image: url(../img/marts/max/taich.jpg)}

    #taekw, #taekw.active, #taekw:hover 
        {background-image: url(../img/marts/blur/max/taekw.jpg)}

    #muayt, #muayt.active, #muayt:hover
        {background-image: url(../img/marts/blur/max/muayt.jpg)}

    #taich, #taich.active, #taich:hover
        {background-image: url(../img/marts/blur/max/taich.jpg)}

}