/*Extra small devices (small phones, 350px and down)*/

body 
{
    text-align: center;
}

div 
{
    transition: 0.2s;
}

.mart
{
    height: 40vh;
    border-bottom: 1px #baab00 solid;
    transition: background 0.3s;
}

.mart:hover 
{
    cursor: pointer;
}

.martheader
{
    padding: 2px;
    background: rgba(0, 0, 0, 0.678);
    width: 60%;
    height: 40px;
    line-height: 40px;
    margin: 15vh auto 0 auto;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}


#marts h1 
{
    color: #baab00;
    font-size: 1.8em;
    font-weight: 700;
    font-family: 'Cinzel', serif;
}

#taekw
{
    background: url(../img/marts/min/taekw.jpg) no-repeat center;
}

#muayt
{
    background: url(../img/marts/min/muayt.jpg) no-repeat center;
}

#taich
{
    background: url(../img/marts/min/taich.jpg) no-repeat center;
}

#taekw:hover 
{
    background: url(../img/marts/blur/min/taekw.jpg) no-repeat center;
}

#muayt:hover
{
    background: url(../img/marts/blur/min/muayt.jpg) no-repeat center;
}

#taich:hover
{
    background: url(../img/marts/blur/min/taich.jpg) no-repeat center;
}


/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

    .mart 
    {
        height: 60vh;
    }

    .martheader
    {
        margin-top: 20vh;
        width: 40%;
        font-size: 2.2em;
    }

    #taekw
    {
        background: url(../img/marts/mid/taekw.jpg) no-repeat center;
    }

    #muayt
    {
        background: url(../img/marts/mid/muayt.jpg) no-repeat center;
    }

    #taich
    {
        background: url(../img/marts/mid/taich.jpg) no-repeat center;
    }
    
    #taekw:hover 
    {
        background: url(../img/marts/blur/mid/taekw.jpg) no-repeat center;
    }

    #muayt:hover
    {
        background: url(../img/marts/blur/mid/muayt.jpg) no-repeat center;
    }

    #taich:hover
    {
        background: url(../img/marts/blur/mid/taich.jpg) no-repeat center;
    }
    }

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #container
    {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .mart
    {
        border: 1px solid #baab00;
        margin-bottom: 50px;
    }
  
}

@media only screen and (min-width: 1400px)
{
    #taekw
    {
        background: url(../img/marts/max/taekw.jpg) no-repeat center;
    }

    #muayt
    {
        background: url(../img/marts/max/muayt.jpg) no-repeat center;
    }

    #taich
    {
        background: url(../img/marts/max/taich.jpg) no-repeat center;
    }

    
    #taekw:hover 
    {
        background: url(../img/marts/blur/max/taekw.jpg) no-repeat center;
    }

    #muayt:hover
    {
        background: url(../img/marts/blur/max/muayt.jpg) no-repeat center;
    }

    #taich:hover
    {
        background: url(../img/marts/blur/max/taich.jpg) no-repeat center;
    }

}


/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
}
